* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}

html {
    --default-opacity: 0.2;
    --hover-opacity: 0.1;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000000;
    width: 100%;
    height: 70px;
    z-index: 1;
    
}
.logo {
    mix-blend-mode: difference;
    flex: 1 1 auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}

.logo img {
    margin-top: 10px;
    width: 150px; 
    height: auto;

}

.color {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(255, 230, 0, 0.21), #000);
    position: absolute;
    top: -570px;
    left: 15%;
    z-index: -1;
}  

.parallax-container{
    height: 100vh;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Acumin', Bold;
    font-size: 100px;
    text-align: center;
    z-index: 1;
    text-shadow: 0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0),
    0 0 30px rgb(0, 0, 0);

}

.sub-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Acumin', Bold;
    font-size: 35px;
    text-align: center;
    z-index: 1;
    text-shadow: 0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0),
    0 0 30px rgb(0, 0, 0);
}


body {
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
}

.btn{
    cursor: pointer;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 90px;
    padding: 0 25px;    
}

/* Work */

.work{
    margin-top: 60px;
}

/* TOP */
.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    padding: 0;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 333px 119px 325px 333px;
    gap: 25px;
    position: relative;
}
.project {
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.4s;
}

.project:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2/ 4;
}
.project:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.project:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.project:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

/* 3rd row */
.project:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
}
.project:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 4 / 8;
}
.project:nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 4 / 8;
}
.project:nth-child(8) {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}

/* 4th row */
.project:nth-child(9) {
    grid-column: 1 / 2;
    grid-row: 7 / 12;
}
.project:nth-child(10) {
    grid-column: 2 / 3;
    grid-row: 8 / 12;
}
.project:nth-child(11) {
    grid-column: 3 / 4;
    grid-row: 8 / 12;
}
.project:nth-child(12) {
    grid-column: 4 / 5;
    grid-row: 7 / 12;
}
/* row 5 */

.project:nth-child(13) {
    grid-column: 1 / 2;
    grid-row: 12 / 14;
}
.project:nth-child(14) {
    grid-column: 2 / 3;
    grid-row: 12 / 14;
}
.project:nth-child(15) {
    grid-column: 3 / 4;
    grid-row: 12 / 14;
}
.project:nth-child(16) {
    grid-column: 4 / 5;
    grid-row: 12 / 14;
}

.project:nth-child(17) {
    grid-column: 1 / 3;
    grid-row: 15 / 17;
}
.project:nth-child(18) {
    grid-column: 3 / 5;
    grid-row: 15 / 17;
} 
.project:nth-child(19) {
    grid-column: 1 / 3;
    grid-row: 17 / 19;
}
.project:nth-child(20) {
    grid-column: 3 / 5;
    grid-row: 17 / 19;
} 
.project:nth-child(21) {
    grid-column: 1 / 3;
    grid-row: 19 / 20;
}
.project:nth-child(22) {
    grid-column: 3 / 5;
    grid-row: 19 / 20;
}
.project:nth-child(23) {
    grid-column: 1 / 3;
    grid-row: 21 / 22;
}
.project:nth-child(24) {
    grid-column: 3 / 5;
    grid-row: 21 / 22;
}
.project:nth-child(25) {
    grid-column: 1 / 3;
    grid-row: 23 / 24;
}
.project:nth-child(26) {
    grid-column: 3 / 5;
    grid-row: 23 / 24;
}
.project:nth-child(27) {
    grid-column: 1 / 3;
    grid-row: 25 / 26;
}
.project:nth-child(28) {
    grid-column: 3 / 5;
    grid-row: 25 / 26;
}
.project:nth-child(29) {
    grid-column: 1 / 3;
    grid-row: 27 / 28;
}
.project:nth-child(30) {
    grid-column: 3 / 5;
    grid-row: 27 / 28;
}
.project:nth-child(31) {
    grid-column: 1 / 3;
    grid-row: 29 / 30;
}
.project:nth-child(32) {
    grid-column: 3 / 5;
    grid-row: 29 / 30;
} */

/* add */
.project:nth-child(33) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.project:nth-child(34) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.project:nth-child(35) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
}

.Certificates {
    flex-basis: 50%; 
    text-align: center;
    margin-bottom: 60px;
}


.project:hover::before {
    opacity: var(--hover-opacity);
}

.grid-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.09);
    transition: all 0.4s;
}

.project:hover .grid-img {
    filter: blur(0.1px);
    transform: scale(1.01);
}

/* ARTWORK DESCRIPTION */
.project-info   {
    /* opacity: 0; */
    position: absolute;
    

}

@media (max-width: 820px){
    
    .title {
        text-align: center;
        font-size: 45px;
    }

    .sub-title {
        
        margin-top: 30px;
        font-size: 15px;
    }
}

@media (max-width: 768px) and (max-width: 992px){
    
    .title {
        text-align: center;
        font-size: 45px;
    }

    .sub-title {
        
        margin-top: 30px;
        font-size: 15px;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
    }
    .project:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 2/ 3;
    }
    .project:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2/ 3;
    }
    .project:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 2/ 3;
    }
    .project:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .project:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .project:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .project:nth-child(7) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .project:nth-child(8) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .project:nth-child(9) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    .project:nth-child(10) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .project:nth-child(11) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .project:nth-child(12) {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    .project:nth-child(13) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .project:nth-child(14) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    .project:nth-child(15) {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
    .project:nth-child(16) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .project:nth-child(17) {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .project:nth-child(18) {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    } 
    .project:nth-child(19) {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
    .project:nth-child(20) {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    } 
    .project:nth-child(21) {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
    }
    .project:nth-child(22) {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }
    .project:nth-child(23) {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .project:nth-child(24) {
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }
    .project:nth-child(25) {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
    }
    .project:nth-child(26) {
        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }
    .project:nth-child(27) {
        grid-column: 3 / 4;
        grid-row: 9 / 10;
    }
    .project:nth-child(28) {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }
    .project:nth-child(29) {
        grid-column: 2 / 3;
        grid-row: 10 / 11;
    }

    .project:nth-child(30) {
        grid-column: 3 / 4;
        grid-row: 10 / 11;
    }
    .project:nth-child(31) {
        grid-column: 2 / 3;
        grid-row: 11 / 12;
    }
    .project:nth-child(32) {
        grid-column: 2 / 3;
        grid-row: 12  / 13;
    } 

    .project:nth-child(33) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .project:nth-child(34) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .project:nth-child(35) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

@media (max-width: 620px) {
    .text {
        font-size: 30px;
    }
    .main {
        padding: 0 15px;
    }
}

@media (max-width: 520px) {

    .title {
        text-align: center;
        font-size: 45px;
    }

    .sub-title {
        
        margin-top: 20px;
        font-size: 15px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .project {
        grid-column: auto;
        grid-row: auto;
    }

    .project:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .project:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .project:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .project:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .project:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    .project:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .project:nth-child(7) {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .project:nth-child(8) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .project:nth-child(9) {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    .project:nth-child(10) {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
    .project:nth-child(11) {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .project:nth-child(12) {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }
    .project:nth-child(13) {
        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }
    .project:nth-child(14) {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
    }
    .project:nth-child(15) {
        grid-column: 2 / 3;
        grid-row: 10 / 11;
    }
    .project:nth-child(16) {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }
    .project:nth-child(17) {
        grid-column: 2 / 3;
        grid-row: 11 / 12;
    }
    .project:nth-child(18) {
        grid-column: 1 / 2;
        grid-row: 11 / 12;
    } 
    .project:nth-child(19) {
        grid-column: 2 / 3;
        grid-row: 12 / 13;
    }
    .project:nth-child(20) {
        grid-column: 1 / 2;
        grid-row: 12 / 13;
    } 
    .project:nth-child(21) {
        grid-column: 2 / 3;
        grid-row: 13 / 14;
    }
    .project:nth-child(22) {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }
    .project:nth-child(23) {
        grid-column: 2 / 3;
        grid-row: 14 / 15;
    }
    .project:nth-child(24) {
        grid-column: 1 / 2;
        grid-row: 14 / 15;
    }
    .project:nth-child(25) {
        grid-column: 2 / 3;
        grid-row: 15 / 16;
    }
    .project:nth-child(26) {
        grid-column: 1 / 2;
        grid-row: 15 / 16;
    }
    .project:nth-child(27) {
        grid-column: 2 / 3;
        grid-row: 16 / 17;
    }
    .project:nth-child(28) {
        grid-column: 1 / 2;
        grid-row: 16 / 17;
    }
    .project:nth-child(29) {
        grid-column: 1 / 2;
        grid-row: 17 / 18;
    }

    .project:nth-child(30) {
        grid-column: 2 / 3;
        grid-row: 17 / 18;
    }
    .project:nth-child(31) {
        grid-column: 1 / 2;
        grid-row: 18 / 19;
    }
    .project:nth-child(32) {
        grid-column: 2 / 3;
        grid-row: 18  / 19;
    } 

    .project:nth-child(33) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .project:nth-child(34) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .project:nth-child(35) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .footerContainer {
        width: 60%;
        padding: 70px 30px 20px;
    }
}

@media (max-width: 1550px){
    
    .title {
        text-align: center;
        font-size: 100px;
    
    }

    .sub-title {
        text-align: center;
        margin-top: 60px;
        font-size: 30px;
    
    }
}





footer{
    background-color: #000;
    
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;

}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #000;
    transition: 0.5s;
}
.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}